.custom-pagination .active .page-link {
    color: white !important;
    background-color: black !important;
    border-color: #000;
}

.custom-pagination .page-link {
    color: #000 !important;
    background-color: #fff;
}

.custom-pagination .page-link:hover {
    color: #fff !important;
    background-color: #000;
}

.pagination > li > a,
.pagination > li > span {
    color: black !important;
}

.pagination > li > a:hover {
    color: white !important;
    background-color: black !important;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: black !important;
    border-color: black !important;
    color: white !important;
}
